/*====================
   Fonts
====================*/


/*============
BASE STYLES
=============*/

body {
    background-color: #ffffff;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

video {
    width: 100vw;
}

ul {
    list-style-type: none;
    margin: 0;
}

.mobile-hidden {
    display: none;
}


/*============
HEADER
=============*/

.page-header {
    position: relative;
    height: 80px;
}


/*============
FOOTER
=============*/


/*============
INDEX
=============*/

/* Video Slider Nav Fix */
.flex-direction-nav {
    line-height: normal;
}

.about-content p {
    margin-bottom: 20px;
}

.about-content a {
    color: #e8112d;
    border: solid #e8112d 2px;
    padding: 7px;
    text-transform: uppercase;
}


/*============
PARTY INFO
=============*/
/* PARTY 1*/
/* PARTY 2*/
/* PARTY 3*/
/* PARTY 4*/

/*============
WHO'S MY MP
=============*/


/*=============
COMPARE PARTIES
==============*/


/*============
TABLET
=============*/

@media screen and (min-width: 48em) {
    /*============
    BASE STYLES
    =============*/
    h1 {}
    h2 {}
    h3 {}
    h4 {}
    h5 {}
    h6 {}
    p {}
    .mobile-only {
        display: none;
    }
    .mobile-hidden {
        display: block;
    }
    .desktop-only {
        display: none;
    }
    /*============
    HEADER
    =============*/
    /*============
    FOOTER
    =============*/
    /*============
    INDEX
    =============*/
    /*============
    PARTY INFO
    =============*/
    /* PARTY 1*/
    /* PARTY 2*/
    /* PARTY 3*/
    /* PARTY 4*/

    /*============
    WHO'S MY MP
    =============*/


    /*=============
    COMPARE PARTIES
    ==============*/
}


/*============
DESKTOP
=============*/

@media screen and (min-width: 64em) {
    /*============
    BASE STYLES
    =============*/
    body {}
    h1 {}
    h2 {}
    h3 {}
    h4 {}
    h5 {}
    h6 {}
    p {}
    /*============
    HEADER
    =============*/
    /*============
    FOOTER
    =============*/
    /*============
    INDEX
    =============*/
    /*============
    PARTY INFO
    =============*/
    /* PARTY 1*/
    /* PARTY 2*/
    /* PARTY 3*/
    /* PARTY 4*/

    /*============
    WHO'S MY MP
    =============*/


    /*=============
    COMPARE PARTIES
    ==============*/
}
