/*============
BASE STYLES
=============*/

body {
    background-color: #ffffff;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

video {
    width: 100vw;
}

ul {
    list-style-type: none;
    margin: 0;
}

.mobile-hidden {
    display: none;
}


/*============
HEADER
=============*/

.page-header {
    position: relative;
    padding: 32px 50px;
}

.logo{
    width: 200px;
}

.header-li{
    list-style: none;
}

.inline{
    display: inline;
}

.header-anchor{
    font-size: 1.361em;
    color: black;
    line-height: 200px;
    text-transform: uppercase;
    text-decoration: none;
}

.desktop-anchor{
    margin-left: 25px;
}

#mobile-header{
    display: none;
}

.right{
    float: right;
}


/*============
FOOTER
=============*/
.page-footer{
    position: relative;
    padding: 64px 50px;
}

.footer-second-row{
    margin-top: 78px;
}

.footer-spacing{
    margin-top: 31px;
}

/*============
TABBED CONTENT
=============*/

ul#tabs {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
ul#tabs li {
    display: inline-block;
    background-color: #32c896;
    border-bottom: solid 5px #238b68;
    padding: 5px 20px;
    margin-bottom: 4px;
    color: #fff;
    cursor: pointer;
}
ul#tabs li:hover {
    background-color: #238b68;
}
ul#tabs li.active {
    background-color: #238b68;
}
ul#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#tab li {
    display: none;
}
ul#tab li.active {
    display: block;
}


/*============
INDEX
=============*/

/* Video Slider Nav Fix */

.flex-direction-nav {
    line-height: normal;
}

.about-content p {
    margin-bottom: 20px;
}

.about-content a {
    color: #e8112d;
    border: solid #e8112d 2px;
    padding: 7px;
    text-transform: uppercase;
}

.parties-links-section {
    padding: 50px 0;
}

.parties-links-section h1 {
    padding: 0 0.625rem;
}


/* Links */

.link-container:first-child {
    margin-top: 10px;
}

.link-container {
    margin-bottom: 5px;
}

figure {
    margin: 0;
}

figure.snip1091 {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

figure.snip1091 * {
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

figure.snip1091 img {
    opacity: 0.25;
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

figure.snip1091 figcaption {
    position: absolute;
    top: 50%;
    left: 30px;
    right: 30px;
    -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
    transform: rotate(0deg) translateY(-50%) scale(1);
    -webkit-transform-origin: center 0;
    transform-origin: center 0;
}

figure.snip1091 figcaption h2 {
    top: 50%;
    color: #ffffff;
    padding: 10px 0;
    margin: 0;
}

figure.snip1091 figcaption:before,
figure.snip1091 figcaption:after {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 2px;
    position: absolute;
    content: "";
    display: block;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

figure.snip1091 figcaption:before {
    left: 0;
    top: 0;
}

figure.snip1091 figcaption:after {
    bottom: 0;
    right: 0;
}

figure.snip1091.liberal {
    background: #8d5f61;
}

figure.snip1091.con {
    background: #5f6a79;
}

figure.snip1091.green {
    background: #687f66;
}

figure.snip1091.ndp {
    background: #947461;
}

figure.snip1091 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

figure.snip1091:hover img,
figure.snip1091.hover img {
    opacity: 1;
}

figure.snip1091:hover figcaption,
figure.snip1091.hover figcaption {
    -webkit-transform: rotate(-45deg) translateY(-50%) scale(0.9);
    transform: rotate(-45deg) translateY(-50%) scale(0.9);
}

figure.snip1091:hover figcaption:before,
figure.snip1091.hover figcaption:before,
figure.snip1091:hover figcaption:after,
figure.snip1091.hover figcaption:after {
    width: 200%;
}


/*============
PARTY INFO
=============*/
.party-hero {
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 210px;
    margin-bottom: 30px;
}

.party-hero h1 {
    color: #ffffff;
    text-align: center;
    border-bottom: 3px solid #ffffff;
    width: 310px;
    padding-bottom: 5px;
    margin: auto;
}

.leader-container {
    margin-top: 30px;
}

.leader-container p {
    text-align: center;
    font-size: 0.9rem;
    color: #777676;
    margin-top: 5px;
}


/* PARTY 1*/
.liberal-hero {
    background-image: url(../img/parties/liberal-hero.jpg);
}

/* PARTY 2*/
.con-hero {
    background-image: url(../img/parties/con-hero.jpg);
}

/* PARTY 3*/
.green-hero {
    background-image: url(../img/parties/green-hero.jpg);
}

/* PARTY 4*/
.ndp-hero {
    background-image: url(../img/parties/ndp-hero.jpg);
}

/*============
WHO'S MY MP
=============*/


/*=============
COMPARE PARTIES
==============*/

.compare-hero {
    background-image: url(../img/compare/compare-hero.jpg);
}


/* Accordion */

.accordion {
    width: 100%;
}

.accordion h1,
h2,
h3,
h4 {
    cursor: pointer;
}

.accordion h1 {
    padding: 15px 20px;
    background-color: #dfe3e1;
    color: #000000;
    text-align: center;
    margin: 0;
}

.accordion h1:not(:last-of-type) {
    border-bottom: 2px solid #dadfdd;
}

.accordion div, .accordion p {
    display: none;
}

.accordion h2 {
    padding: 5px 25px;
    margin: 0;
    color: #ffffff;
    text-align: center;
}

.accordion-liberal {
    background-color: #d71920;
}

.accordion-con {
    background-color: #01209f;
}

.accordion-ndp {
    background-color: #f37021;
}

.accordion-green {
    background-color: #3d9b35;
}

.accordion a {
    text-align: center;
    padding: 5px;
    width: 70px;
    margin: auto;
    -webkit-transition: .3s;
    transition: .3s;
}

.accordion a:hover {
    color: #ffffff;
}

.vote-liberal {
    color: #d71920;
    border: solid 1px #d71920;
}

.vote-liberal:hover {
    background-color: #d71920;
}

.vote-con {
    color: #01209f;
    border: solid 1px #01209f;
}

.vote-con:hover {
    background-color: #01209f;
}

.vote-ndp {
    color: #f37021;
    border: solid 1px #f37021;
}

.vote-ndp:hover {
    background-color: #f37021;
}

.vote-green {
    color: #3d9b35;
    border: solid 1px #3d9b35;
}

.vote-green:hover {
    background-color: #3d9b35;
}

.accordion p {
    padding: 15px 35px;
    color: #333;
    margin: 0;
}

.desc {
    border: 1px solid #dadfdd;
    border-top: 0;
    border-bottom: 0;
    padding-bottom: 20px;
}

.accordion .opened-for-codepen {
    display: block;
}

/*============
TABLET
=============*/

@media screen and (min-width: 47em) {
    /*============
    BASE STYLES
    =============*/
    h1 {}
    h2 {}
    h3 {
        font-size: 1.3rem;
    }
    h4 {}
    h5 {}
    h6 {}
    p {}
    .mobile-only {
        display: none;
    }
    .mobile-hidden {
        display: block;
    }
    .desktop-only {
        display: none;
    }
    /*============
    HEADER
    =============*/
    /*============
    FOOTER
    =============*/
    /*============
    INDEX
    =============*/
    .parties-links-section h1 {
        padding: 0 0.9375rem;
    }
    /*============
    PARTY INFO
    =============*/
    .party-hero {
        padding-top: 300px;
        margin-bottom: 50px;
    }
    .party-hero h1 {
        font-size: 2.5rem;
        width: 550px;
    }
    .leader-container {
        margin-top: 0;
    }
    .party-about p {
        font-size: 0.9rem;
    }
    /* PARTY 1*/
    /* PARTY 2*/
    /* PARTY 3*/
    /* PARTY 4*/
    /*============
    WHO'S MY MP
    =============*/
    /*=============
    COMPARE PARTIES
    ==============*/
}


/*============
DESKTOP
=============*/

@media screen and (min-width: 64em) {
    /*============
    BASE STYLES
    =============*/
    body {}
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {}
    h4 {}
    h5 {}
    h6 {}
    p {}
    /*============
    HEADER
    =============*/
    /*============
    FOOTER
    =============*/
    /*============
    INDEX
    =============*/
    .flexslider {
        margin: 0 0 110px;
    }
    .parties-links-section h1 {
        max-width: 75rem;
        margin: auto;
        margin-bottom: 10px;
    }
    /*============
    PARTY INFO
    =============*/
    /* PARTY 1*/
    /* PARTY 2*/
    /* PARTY 3*/
    /* PARTY 4*/
    /*============
    WHO'S MY MP
    =============*/
    /*=============
    COMPARE PARTIES
    ==============*/
}
